// node_modules/element-ui/packages/theme-chalk/src/common/var.scss
@import "~element-ui/packages/theme-chalk/src/common/var";

/* theme color */
$--color-primary: #409EFF;
$--color-success: #67c23a;
$--color-warning: #e6a23c;
$--color-danger: #f56c6c;
$--color-info: #909399;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts/';

$--font-size-base: 16px;
$--font-size-small: 14px;
$--font-size-large: 18px;
$--font-color-disabled-base: #bbb;
